<!DOCTYPE HTML> <!-- pizza.html -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <meta name="description" content="Portfolio project, Pizzeria">
  <meta name="author" content="Cameron Pittman. Performance optimization by Alan Spiewak">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Cameron Pittman: Portfolio</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap-grid.css">
</head>

<body>
  <div class="container">
    <div id="header" class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h1>Cam's Pizzeria</h1>
            <div class="row">
              <div id="menu" class="col-md-12">
                <form action="#randomPizzas">
                  <input type="submit" value="Menu">
                </form>
                <form action="#ingredients">
                  <input type="submit" value="Our Ingredients">
                </form>
                <form action="#locations">
                  <input type="submit" value="Locations">
                </form>
                <form action="#" onsubmit="alert('Thanks for clicking! This button doesn\'t do anything because this is a fake pizzeria :\)')">
                  <input type="submit" value="Contact Us">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="movingPizzas1" class="col-md-6">
      </div>
    </div>
    <div id="callToAction" class="row">
      <div class="col-md-4">
        <!-- The original pizzeria.jpg is ridiculously large (2048x1536), so we
             can offer the browser some pretty-high-res choices. Display width
             maxes out at 720px (mobile) and 360px (desktop). -->
        <img srcset="../dist/img/pizzeria_1440.jpg 1440w, ../dist/img/pizzeria_720.jpg 720w, ../dist/img/pizzeria_360.jpg 360w"
          sizes="(min-width: 992px) 360px, (min-width: 720px) 720px, 100vw"
          src="../dist/img/pizzeria_720.jpg" class="img-responsive" alt="Pizzeria">
        <!-- Image credit to: http://commons.wikimedia.org/wiki/File:HK_TST_night_%E5%98%89%E8%98%AD%E9%81%93_Granville_Road_restaurant_Paisano's_Pizzeria_pizza_Dec-2013.JPG -->
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h2>We Have Hundreds of Pizza Recipes!</h2>
            <p>At Cam's Pizzeria, we know you want options. Pepperoni? Boring. Cheese? No way! Sausage? C'mon, let's get creative.</p>

            <p>We have every pizza ingredient imaginable in our kitchen because we know you take choice seriously. Take a look through our menu of hundreds of pizza options and we know that you'll find something you love.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-push-3">
            <form action="#randomPizzas">
              <input type="submit" value="Pick a Pizza Now!">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="ingredients" class="row">
      <div class="col-md-8 col-md-push-2">
        <div class="row">
          <div class="col-md-12 centered">
            <h2>Ingredients!</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>We've scoured the planet for the best pizza ingredients. Our crack team of ingredient specialists are on constant lookout for new and interesting pizza ingredients.</p>

            <p>We have classic meats like pepperoni, sausage, and barbecue chicken. But you can find even more fun meats like coppa, kielbasa and soylent green on our menu too.</p>

            <p>Not interested in meat? No problem! We love our veggies too :) We have everything from arugula to zucchini.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="locations" class="row">
      <div class="col-md-12">
        <h2 style="text-align: center">Locations!</h2>
        <div class="row">
          <div class="col-md-6">
            <h3>Pizza Road</h3>
            <p>1800 Pizza Road<br>San Francisco, CA<br>01010<br>555-555-5555</p>
          </div>
          <div class="col-md-6">
            <h3>Classic Pie Way</h3>
            <p>999 Classic Pie Way<br>New York, NY<br>00100<br>555-555-5555</p>
          </div>
        </div>
      </div>
    </div>
    <div id="pizzaGenerator" class="row">
      <div class="col-md-12">
        <h2 style="text-align: center">Our Pizzas!</h2>
        <div class="row">
          <div class="col-md-12">
            <em>What size pizza would you like? Use the slider below to change pizza sizes.</em>
          </div>
          <div id="pizzaSize" class="col-md-6">Medium</div>
          <div class="col-md-12">
            <input id="sizeSlider" type="range" min="1" max="3" value="2" step="1" onchange="resizePizzas(this.value)">
          </div>
        </div>
        <div id="randomPizzas" class="row">
          <div id="pizza0" class="randomPizzaContainer" style="width:33.33%; height: 325px;">
            <div style="width:35%">
              <img src="../dist/img/pizza_205.png" class="img-responsive" alt="Pizza">
            </div>
            <div style="width:65%">
              <h4>The Udacity Special</h4>
              <ul>
                <li>Turkey</li>
                <li>Tofu</li>
                <li>Cauliflower</li>
                <li>Sun Dried Tomatoes</li>
                <li>Velveeta Cheese</li>
                <li>Red Sauce</li>
                <li>Whole Wheat Crust</li>
              </ul>
            </div>
          </div>
          <div id="pizza1" class="randomPizzaContainer" style="width:33.33%; height: 325px;">
            <div style="width:35%">
              <img src="../dist/img/pizza_205.png" class="img-responsive" alt="Pizza">
            </div>
            <div style="width:65%">
              <h4>The Cameron Special</h4>
              <ul>
                <li>Chicken</li>
                <li>Hot Sauce</li>
                <li>White Crust</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="col-md-12">Thanks for visiting! &copy; 2014 Udacity</div>
  </div>
  <script>
    // The following code for sliding background pizzas was pulled from Ilya's demo found at:
    // https://www.igvita.com/slides/2012/devtools-tips-and-tricks/jank-demo.html

    // Moves the sliding background pizzas based on scroll position
    function updatePositions() {
      frame++;
      window.performance.mark("mark_start_frame");

      var items = document.querySelectorAll('.mover');
      var len = items.length;
      var top = document.body.scrollTop / 1250;     // DOM query removed from loop
      for (var i = 0; i < len; i++) {
        var phase = Math.sin(top + (i % 5));
        items[i].style.left = items[i].basicLeft + 100 * phase + 'px';
      }

      // User Timing API to the rescue again. Seriously, it's worth learning.
      // Super easy to create custom metrics.
      window.performance.mark("mark_end_frame");
      window.performance.measure("measure_frame_duration", "mark_start_frame", "mark_end_frame");
      if (frame % 10 === 0) {
        var timesToUpdatePosition = window.performance.getEntriesByName("measure_frame_duration");
        logAverageFrame(timesToUpdatePosition);
      }
    }

    // runs updatePositions on scroll
    window.addEventListener('scroll', updatePositions);


    // Generate the sliding pizzas when the page loads.
    /*  The original version of this function created 200 pizza elements. They slide on "fixed
        tracks" relative to the window, 8 to a track, so many of the 200 tracks are invisible.
        All those invisible pizzas take time to load, animate, and manage. On my double monitors
        only 10 rows can be seen at stacked full-window height, so I only create 80 pizzas.
        That is sufficient for all reasonable situations.

        Note: These pizzas have to be generated before initial rendering, as some of them
        appear above the fold.
     */
    document.addEventListener('DOMContentLoaded', function() {
      var cols = 8;
      var s = 256;
      var pizzas = document.querySelector("#movingPizzas1");    // query moved from loop
      for (var i = 0; i < 80; i++) {
        var elem = document.createElement('img');
        elem.className = 'mover';
        elem.src = "../dist/img/pizza_74.png";
        elem.style.height = "100px";
        elem.style.width = "73.333px";
        elem.basicLeft = (i % cols) * s;
        elem.style.top = (Math.floor(i / cols) * s) + 'px';
        pizzas.appendChild(elem);
      }
      updatePositions();
    });
  </script>
  <script async type="text/javascript" src="js/main.js"></script>
</body>

</html>
